*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    font-weight: 500;
}

.titulo{
    font-size: 40px;
    font-weight: 900;
    position: relative;
    bottom: 20%;
}

h3,h4{
    font-weight: 700;
}

.navegacion{
    text-align: right;
    font-size: 18px;
    position: relative;
    bottom: 20%;
}

nav a{
    margin-right: 10px;
    background-color: rgba(68 , 114 , 196);
    text-decoration: none;
    color: white;
    padding: 3px 11px 3px 11px;
    border: 2px solid black;
}
 a[href="#"]{
    background-color: rgba(112 , 173 , 71);
} 


header{
    height: 40vh;
    margin: 5% 5% 0% 5%;
    background-image: url(../assets/design1_image2.jpg);
    background-size: cover;
    background-position: 0 40%;
    
}

h2{
    margin-left: 42%;
    font-size: 30px;
    font-weight: 900;
    
}
.contenedor-eventos{
    border: 1px solid black;
    margin: 0% 5% 4% 5%;
}

section div {
    display: inline-block;
    margin-bottom: 50px;
}

.logo{
    width: 180px;
    margin-left: 160px;
}

.fechas{
margin-left: 70px;
}

section div p{
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 30px;
}

.imagen-hockey{
    width: 260px;
    margin-left: 220px;
}

/* PAGINA ABOUT */

.contenedor-acerca-de{
    display: inline-flex;
}

.acerca-de{
    margin-left:65px ;
    width: 60%;

}



.txt-contacto{
    margin-left: 25px;
}

