*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    font-weight: 500;
    color: white;
    background-color: rgb(19,34,50);
    background-color: linear-gradient(180deg, rgba(19,34,50,1) 4%, rgba(2,77,113,1) 70%, rgba(57,115,153,1) 100%);
}

.titulo{
    font-size: 40px;
    font-weight: 900;
    position: relative;
    bottom: 20%;
    text-align: center;
}

h3,h4{
    font-weight: 700;
}

.navegacion{
    text-align: right;
    font-size: 18px;
    position: relative;
    bottom: 20%;
}

nav a{
    margin-right: 10px;
    background-color: rgba(68 , 114 , 196);
    text-decoration: none;
    color: white;
    padding: 3px 11px 3px 11px;
    border: 2px solid black;
}
 a[href="#"]{
    background-color: rgba(112 , 173 , 71);
} 


header{
    height: 60vh;
    background-image: url(../assets/design1_image2.jpg);
    background-size: cover;
}

h2{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.contenedor-eventos{
    margin: 0% 5% 4% 5%;
}



.logo{
    width: 120px;
    margin-left: 15px;
}
.seccion-index{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.fechas{
text-align: center;
}

section div p{
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 30px;
}

.imagen-hockey{
    width: 360px;
    margin-left: 220px;
}

/* PAGINA ABOUT */

.contenedor-acerca-de{
    display:flex;
    justify-content: space-around;
    align-items: end;
}

.acerca-de{
    margin-left:65px ;
    width: 60%;

}

.contenedor-img{
   width: 50%;
}
.imagen-hockey-about{
   width: 50%;
   margin: 0px 0px 35px 80px ; 
}

/* -------------------- */
.txt-contacto{
    margin-bottom: 30px;
}


/* Games */
.games{
    display: flex;
    justify-content: center;
}
.h3-games{
    text-align: center;
    margin-bottom: 10px;
}

table{
    margin-top: 30px;
}

tbody td {
    padding: 12px 38px;
    background-color: #245C81;
  }

  thead tr th{
    font-size: 18px;
    font-weight: 900;
    background-color: #5e5e5e;
  }

.contenedor-info{
    display: flex;
}

.informacion{
    margin: 2% 0% 3% 10%;
}

.info-personal{
    margin: 2% 0% 3% 10%;
}

/* RULES */
.h3-rules{
    text-align: center;
}

h5,h6{
    font-weight: 900;
    font-size: 14px;
    margin: 17px 0px;
}

.contenedor-rules{
    margin: 40px 95px 20px 95px;
    text-align: left;
    padding: 25px;
}


.titulo-allplay{
    margin-top: 22px;
}

/* REGISTRATION */

label {
    margin-right: 20px;
    align-items: center;

}
input{
    border: 1px solid white;
    font-weight: 900;
    text-align: center;
}

fieldset{
    display: block;
    justify-content: center;
    margin-left: 30px;
    margin: 19px;
    border: none;
}

form{
    justify-content: center;
    align-items: center;
    text-align: center; 
    border: 2px solid #245C81;
    margin: 20px 300px 20px 300px;
    border-radius: 10px;
}

.form-player{
    margin: 40px;
    justify-content: center;
}
.form-player label, input{
    margin-bottom: 15px; 
}

.label{
    margin-right: 20px;
    align-items: center;
    font-weight: 900;
}

.parrafo-form{
    margin: 20px 120px;
}

.boton-form{
    border-radius: 12px;
    padding: 10px;
    background-color:#245C81;
    cursor: pointer;
}
